# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables file
.env

# IDE specific files
.vscode/
.idea/

# Python egg files
*.egg
*.egg-info/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
